Repository spiffe/spire, changes with the owners that CODEOWNERS names for each.
All owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y, @drrt

Add some tests, address CR feedback
  Makefile
  pkg/agent/auth/uds.go
  pkg/agent/auth/uds_fallback.go
  pkg/agent/workload.go
  pkg/agent/workload_test.go
  pkg/common/selector/set.go
  test/mock/agent/cache/cache_mock.go
  test/mock/agent/workloadattestor/workloadattestor_mock.go
Owners: @drrt, @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

combine dockerfile commands
  Dockerfile
Owners: @drrt

Two nil sets are equal
  pkg/common/selector/set_utils.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

add CONTIRBUTING file
  CONTRIBUTING.md
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Fix copy/paste error in auth package
  pkg/agent/auth/uds_fallback.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

use ErrUnsupportedPlatform and not ErrNotSupported
  pkg/agent/auth/uds_fallback.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

working mtls config
  pkg/agent/agent.go
  pkg/server/endpoints/node/service.go
  pkg/server/server.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

working mtls config
  pkg/agent/agent.go
  pkg/server/endpoints/node/service.go
  pkg/server/server.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

fix error
  pkg/server/endpoints/node/service.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

comment oout service_test
  pkg/server/endpoints/node/service_test.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

working mtls config (#169)
  pkg/agent/agent.go
  pkg/server/endpoints/node/service.go
  pkg/server/endpoints/node/service_test.go
  pkg/server/server.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Update server to use powerset for selector lookup
  pkg/server/endpoints/node/service.go
  services/identity.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Pass correct server cert to workload server
  pkg/agent/agent.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Update mocks for identity service and fix bugs
  pkg/server/endpoints/node/service.go
  services/identity.go
  services/identity_mock.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Modified ListSelectorEntries so it takes an array of selectors instead of just one.
  pkg/server/datastore/README_pb.md
  pkg/server/datastore/datastore.pb.go
  pkg/server/datastore/datastore.proto
  plugin/server/datastore-sqlite/sqlite.go
  plugin/server/datastore-sqlite/sqlite_test.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Update server to use powerset for selector lookup
  pkg/server/endpoints/node/service.go
  services/identity.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Pass correct server cert to workload server
  pkg/agent/agent.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Update mocks for identity service and fix bugs
  pkg/server/endpoints/node/service.go
  services/identity.go
  services/identity_mock.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Update registration api after datastore interface change
  services/registration.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Fix channel leak while iterating over selector.Set.Power
  pkg/server/endpoints/node/service.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

CODEOWNERS:

* @kunzimariano @evan2645 @walmav @paul-argeniss @amartinezfayo @y2bishop2y 

# infrastructure maintenance
build.sh        @drrt
Dockerfile      @drrt
Makefile        @drrt
README.md       @drrt
