Repository spiffe/spire, changes with the owners that CODEOWNERS names for each.
All owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y, @drrt

Fix structured logging in endpoint middleware (#140)
  helpers/hclog_adapter.go
  helpers/log.go
  helpers/pluginhelper.go
  pkg/agent/agent.go
  pkg/agent/endpoints/server/logging.go
  pkg/agent/endpoints/workload/logging.go
  pkg/server/endpoints/node/logging.go
  pkg/server/endpoints/registration/logging.go
  pkg/server/server.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

implement agent cache and fetchSVID
  cmd/spire-agent/cli/command/run.go
  glide.lock
  helpers/plugincatalog.go
  helpers/plugincatalog_mock.go
  helpers/pluginhelper.go
  helpers/pluginhelper_test.go
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/agent/cache.go
  pkg/agent/cache_test.go
  pkg/agent/endpoints/server/service.go
  pkg/agent/keymanager/keymanager_mock.go
  pkg/api/node/node_mock.go
  pkg/server/endpoints/node/grpc_handler.go
  pkg/server/endpoints/node/service.go
  pkg/server/server.go
  services/attestation_mock.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Update glide.lock
  glide.lock
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Fix for #144
  plugin/server/upstreamca-memory/main.go
  plugin/server/upstreamca-memory/pkg/ca.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

docker improvements
  .travis.yml
  Dockerfile
  Makefile
  README.md
  build.sh
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y, @drrt

PR changes
  glide.lock
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/agent/cache/cache.go
  pkg/agent/cache/cache_test.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

PR changes
  pkg/agent/agent.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

PR changes
  cmd/spire-agent/cli/command/run.go
  pkg/agent/agent.go
  pkg/agent/agent_test.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

implement agent cache and fetchSVID (#146)
  cmd/spire-agent/cli/command/run.go
  helpers/plugincatalog.go
  helpers/plugincatalog_mock.go
  helpers/pluginhelper.go
  helpers/pluginhelper_test.go
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/agent/cache/cache.go
  pkg/agent/cache/cache_test.go
  pkg/agent/endpoints/server/service.go
  pkg/agent/keymanager/keymanager_mock.go
  pkg/api/node/node_mock.go
  pkg/server/endpoints/node/grpc_handler.go
  pkg/server/endpoints/node/service.go
  pkg/server/server.go
  services/attestation_mock.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

travis coverage test fix
  build.sh
Owners: @drrt

Implement ListParentIDEntries sqllite datastore method, quickfix ErrorCh using buffered channel
  cmd/spire-server/cli/command/run.go
  pkg/server/endpoints/node/service.go
  pkg/server/endpoints/registration/service.go
  pkg/server/server.go
  plugin/server/datastore-sqlite/sqlite.go
  plugin/server/datastore-sqlite/sqlite_test.go
  services/registration.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

go fmt
  cmd/spire-agent/cli/command/run.go
  cmd/spire-server/cli/command/run.go
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/server/endpoints/node/service.go
  pkg/server/endpoints/registration/service.go
  plugin/server/datastore-sqlite/sqlite.go
  plugin/server/upstreamca-memory/pkg/ca.go
  services/registration.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

fix implementation to reflect plugin method
  pkg/server/endpoints/registration/service.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

fix for nightly coverage build
  build.sh
Owners: @drrt

break out helpers into pkgs
  cmd/spire-agent/cli/command/run.go
  cmd/spire-server/cli/command/run.go
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/agent/endpoints/server/service.go
  pkg/common/config/config.go
  pkg/common/config/config_test.go
  pkg/common/config/test_data_invalid/plugin_invalid_conf_1.hcl
  pkg/common/config/test_data_valid/plugin_valid_conf_1.hcl
  pkg/common/config/test_data_valid/plugin_valid_conf_2.hcl
  pkg/common/logger/hclog_adapter.go
  pkg/common/logger/log.go
  pkg/common/plugin/plugincatalog.go
  pkg/common/plugin/plugincatalog_mock.go
  pkg/common/plugin/pluginhelper.go
  pkg/common/plugin/pluginhelper_test.go
  pkg/common/testutil/race.go
  pkg/server/server.go
  plugin/agent/nodeattestor-jointoken/join_token_test.go
  plugin/server/ca-memory/memory_test.go
  plugin/server/datastore-sqlite/sqlite_test.go
  plugin/server/nodeattestor-jointoken/join_token_test.go
  plugin/server/upstreamca-memory/pkg/ca_test.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

sqlite:model: check for errors
  plugin/server/datastore-sqlite/sqlite.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

sqlite:model: check for errors
  plugin/server/datastore-sqlite/sqlite.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Implement sqlite list spiffe entries (#150)
  cmd/spire-agent/cli/command/run.go
  cmd/spire-server/cli/command/run.go
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/server/endpoints/node/service.go
  pkg/server/endpoints/registration/service.go
  pkg/server/server.go
  plugin/server/datastore-sqlite/sqlite.go
  plugin/server/datastore-sqlite/sqlite_test.go
  plugin/server/upstreamca-memory/pkg/ca.go
  services/registration.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

s/logger/log/
  cmd/spire-agent/cli/command/run.go
  cmd/spire-server/cli/command/run.go
  pkg/common/log/hclog_adapter.go
  pkg/common/log/log.go
  pkg/common/plugin/pluginhelper.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

workloadattestor-unix plugin: Add logic to get UID and GID
  glide.lock
  glide.yaml
  pkg/agent/workloadattestor/README_pb.md
  pkg/agent/workloadattestor/workloadattestor.pb.go
  pkg/agent/workloadattestor/workloadattestor.proto
  plugin/agent/workloadattestor-unix/unix.go
  plugin/agent/workloadattestor-unix/unix_test.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Have the selector type as a constant string
  plugin/agent/workloadattestor-unix/unix.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Add TestUnix_AttestInvalidPID test
  plugin/agent/workloadattestor-unix/unix_test.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

workloadattestor-unix plugin: Add logic to get UID and GID (#153)
  glide.lock
  glide.yaml
  pkg/agent/workloadattestor/README_pb.md
  pkg/agent/workloadattestor/workloadattestor.pb.go
  pkg/agent/workloadattestor/workloadattestor.proto
  plugin/agent/workloadattestor-unix/unix.go
  plugin/agent/workloadattestor-unix/unix_test.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Update workload protobuf definition Also remove go-kit endpoints in preparation for workload api implementation
  pkg/agent/endpoints/README.md
  pkg/agent/endpoints/gk.json
  pkg/agent/endpoints/server/endpoints.go
  pkg/agent/endpoints/server/grpc_handler.go
  pkg/agent/endpoints/server/logging.go
  pkg/agent/endpoints/workload/endpoints.go
  pkg/agent/endpoints/workload/grpc_handler.go
  pkg/agent/endpoints/workload/logging.go
  pkg/agent/endpoints/workload/service.go
  pkg/agent/endpoints/workload/workload.service.go
  pkg/api/workload/README_pb.md
  pkg/api/workload/workload.pb.go
  pkg/api/workload/workload.proto
Owners: @drrt, @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

fixes #143
  pkg/agent/cache/cache.go
  pkg/common/util/sort.go
  pkg/server/endpoints/node/service.go
  pkg/server/endpoints/node/service_test.go
  plugin/server/datastore-sqlite/sqlite.go
  services/registration.go
  services/registration_mock.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

fix build
  plugin/server/datastore-sqlite/sqlite.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

go fmt
  pkg/common/util/sort.go
  pkg/server/endpoints/node/service_test.go
  services/registration.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

PR comments
  pkg/server/endpoints/node/service.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Upload SPIRE logo.
  FA Spire Logo-02.png
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

go fmt and minor fixes
  pkg/agent/agent.go
  pkg/server/endpoints/node/service.go
  pkg/server/server.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Implement workload service
  cmd/spire-agent/cli/command/run.go
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/agent/auth/auth.go
  pkg/agent/auth/credentials.go
  pkg/agent/auth/uds.go
  pkg/agent/cache/cache.go
  pkg/agent/endpoints/server/service.go
  pkg/agent/workload.go
  pkg/agent/workload_test.go
  pkg/common/selector/selector.go
  pkg/common/selector/set.go
  pkg/common/selector/set_utils.go
  pkg/common/selector/set_utils_test.go
  test/mock/cache/cache_mock.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

fixes #143 (#156)
  pkg/agent/agent.go
  pkg/agent/cache/cache.go
  pkg/common/util/sort.go
  pkg/server/endpoints/node/service.go
  pkg/server/endpoints/node/service_test.go
  pkg/server/server.go
  plugin/server/datastore-sqlite/sqlite.go
  services/registration.go
  services/registration_mock.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Added ListSelectorEntries.
  plugin/server/datastore-sqlite/sqlite.go
  plugin/server/datastore-sqlite/sqlite_test.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

fetchSVID implementation.
  pkg/server/ca/ca_mock.go
  pkg/server/datastore/datastore_mock.go
  pkg/server/endpoints/node/endpoints.go
  pkg/server/endpoints/node/logging.go
  pkg/server/endpoints/node/service.go
  pkg/server/endpoints/node/service_test.go
  pkg/server/server.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Improvements, addressed most of the TODOs.
  pkg/server/endpoints/node/service.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Added positive test for FetchSVID.
  pkg/server/endpoints/node/service.go
  pkg/server/endpoints/node/service_test.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Cleaned previous merge. Removed getEntriesBySelector and getEntriesByParentID in favor of fetchRegistrationEntries.
  pkg/server/endpoints/node/service.go
  pkg/server/endpoints/node/service_test.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Log improvements. Renamed service variable.
  pkg/server/endpoints/node/service.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

Injecting logger into node service.
  pkg/server/endpoints/node/service.go
  pkg/server/endpoints/node/service_test.go
  pkg/server/server.go
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y

remove random logo, add resized logo
  FA Spire Logo-02.png
  README.md
  doc/spire_logo.png
Owners: @kunzimariano, @evan2645, @walmav, @paul-argeniss, @amartinezfayo, @y2bishop2y, @drrt

CODEOWNERS:

* @kunzimariano @evan2645 @walmav @paul-argeniss @amartinezfayo @y2bishop2y 

# infrastructure maintenance
build.sh        @drrt
Dockerfile      @drrt
Makefile        @drrt
README.md       @drrt
