Repository spiffe/spire, changes with the owners that CODEOWNERS names for each.
All owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @drrt, @ajessup, @jennybeth

CODEOWNERS:

* @evan2645 @amartinezfayo @martincapello @azdagron @marcosdy @marcosy

# infrastructure maintenance
/build.sh        @drrt @evan2645 @amartinezfayo @martincapello @azdagron @marcosdy @marcosy
/Dockerfile      @drrt @evan2645 @amartinezfayo @martincapello @azdagron @marcosdy @marcosy
/Makefile        @drrt @evan2645 @amartinezfayo @martincapello @azdagron @marcosdy @marcosy
/README.md       @drrt @evan2645 @amartinezfayo @martincapello @azdagron @marcosdy @marcosy @ajessup
/CONTRIBUTING.md @drrt @evan2645 @amartinezfayo @martincapello @azdagron @marcosdy @marcosy

# documentation
/doc/           @jennybeth @drrt @evan2645 @amartinezfayo @martincapello @azdagron @marcosdy @marcosy @ajessup

address PR comments
  test/integration/suites/envoy-sds/conf/downstream-agent/agent.conf
  test/integration/suites/envoy-sds/conf/upstream-agent/agent.conf
  test/integration/suites/rotation/conf/agent/agent.conf
  test/integration/suites/rotation/docker-compose.yaml
  test/integration/suites/upgrade/conf/agent/agent.conf
  test/integration/suites/upgrade/docker-compose.yaml
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Shorten git commit hash in rev-parse command
  Makefile
  pkg/common/version/version.go
Owners: @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

remove unneeded pipefail and update SVID cmp
  test/integration/suites/upgrade/03-check-workload-svid
  test/integration/suites/upgrade/05-check-workload-svid
  test/integration/suites/upgrade/07-check-workload-svid
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Renaming metric from "version" to "started"
  pkg/common/telemetry/version.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Join Token integration test
  test/integration/suites/join-token/00-setup
  test/integration/suites/join-token/01-start-server
  test/integration/suites/join-token/02-bootstrap-agents
  test/integration/suites/join-token/03-start-agent
  test/integration/suites/join-token/04-create-workload-entry
  test/integration/suites/join-token/05-check-svid
  test/integration/suites/join-token/06-start-bad-agent
  test/integration/suites/join-token/99-teardown
  test/integration/suites/join-token/README.md
  test/integration/suites/join-token/conf/agent/agent.conf
  test/integration/suites/join-token/conf/server/server.conf
  test/integration/suites/join-token/docker-compose.yaml
  test/integration/suites/join-token/teardown
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Remove unused vars in log
  test/integration/suites/upgrade/07-check-workload-svid
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Fix kubernetes container restart race
  pkg/agent/plugin/workloadattestor/k8s/k8s.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Increase k8s workload attestor polling behaviour
  pkg/agent/plugin/workloadattestor/k8s/k8s.go
  pkg/agent/plugin/workloadattestor/k8s/k8s_test.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

bump version to 0.8.4
  pkg/common/version/version.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Increase resilience to very low/high TTLs
  pkg/agent/manager/config.go
  pkg/agent/svid/rotator.go
  pkg/agent/svid/rotator_config.go
  pkg/server/ca/manager.go
  pkg/server/ca/manager_test.go
  pkg/server/svid/rotator_config.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

reuse rotator interval
  pkg/agent/manager/config.go
  pkg/agent/svid/rotator_config.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Fix race condition on agent SVID rotations
  pkg/agent/client/client.go
  pkg/agent/client/client_test.go
  pkg/agent/manager/manager.go
  pkg/agent/manager/sync.go
  pkg/agent/svid/rotator.go
  pkg/agent/svid/rotator_config.go
  pkg/agent/svid/rotator_test.go
  test/mock/agent/client/client_mock.go
  test/mock/agent/manager/manager_mock.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Update unit tests to cover this scenario
  pkg/agent/client/client_test.go
  pkg/agent/manager/manager_test.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Rename rotation hook
  pkg/agent/manager/manager.go
  pkg/agent/manager/manager_test.go
  pkg/agent/svid/rotator.go
  test/mock/agent/manager/manager_mock.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Fix race on unit test
  pkg/agent/manager/manager_test.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Address PR comments
  pkg/agent/svid/rotator.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Support kind in k8s workload attestor
  pkg/agent/plugin/workloadattestor/k8s/k8s.go
  pkg/agent/plugin/workloadattestor/k8s/k8s_test.go
  pkg/agent/plugin/workloadattestor/k8s/testdata/cgroups_pid_in_kind_pod.txt
  pkg/agent/plugin/workloadattestor/k8s/testdata/kind_pod_list.json
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Address PR comments
  pkg/agent/plugin/workloadattestor/k8s/k8s.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

ACME RFC8555 support
  go.mod
  go.sum
  pkg/server/endpoints/bundle/internal/acmetest/ca.go
  pkg/server/endpoints/bundle/internal/autocert/autocert.go
  pkg/server/endpoints/bundle/internal/autocert/cache.go
  pkg/server/endpoints/bundle/internal/autocert/listener.go
  pkg/server/endpoints/bundle/internal/autocert/renewal.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Fix deletion of registration entries to delete associated selectors
  pkg/server/plugin/datastore/sql/sql.go
  pkg/server/plugin/datastore/sql/sql_test.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Fix deletion of registration entries to delete associated selectors
  pkg/server/plugin/datastore/sql/sql_test.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

sql: ignore partially hydrated entries
  pkg/server/plugin/datastore/sql/sql.go
  pkg/server/plugin/datastore/sql/sql_test.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

address PR comments
  pkg/server/plugin/datastore/sql/sql.go
  pkg/server/plugin/datastore/sql/sql_test.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Join Token integration test (#1215)
  test/integration/suites/join-token/00-setup
  test/integration/suites/join-token/01-start-server
  test/integration/suites/join-token/02-bootstrap-agents
  test/integration/suites/join-token/03-start-agent
  test/integration/suites/join-token/04-create-workload-entry
  test/integration/suites/join-token/05-check-svid
  test/integration/suites/join-token/06-start-bad-agent
  test/integration/suites/join-token/99-teardown
  test/integration/suites/join-token/README.md
  test/integration/suites/join-token/conf/agent/agent.conf
  test/integration/suites/join-token/conf/server/server.conf
  test/integration/suites/join-token/docker-compose.yaml
  test/integration/suites/join-token/teardown
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Fix integration test runner on macOS
  test/integration/suites/datastore-mysql/00-setup
  test/integration/suites/datastore-postgres/00-setup
  test/integration/test-one.sh
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Bump to Go 1.13.3
  .go-version
  build.sh
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @drrt

Update CHANGELOG for 0.8.4 release
  CHANGELOG.md
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Fix integration test runner on macOS (#1223)
  test/integration/suites/datastore-mysql/00-setup
  test/integration/suites/datastore-postgres/00-setup
  test/integration/test-one.sh
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

ghostunnel integration test w/ federation
  test/integration/suites/ghostunnel-federation/00-setup
  test/integration/suites/ghostunnel-federation/01-start-servers
  test/integration/suites/ghostunnel-federation/02-bootstrap-federation-and-agents
  test/integration/suites/ghostunnel-federation/03-start-remaining-containers
  test/integration/suites/ghostunnel-federation/04-create-workload-entries
  test/integration/suites/ghostunnel-federation/05-check-workload-connectivity
  test/integration/suites/ghostunnel-federation/06-stop-servers
  test/integration/suites/ghostunnel-federation/07-check-workload-connectivity
  test/integration/suites/ghostunnel-federation/08-start-servers
  test/integration/suites/ghostunnel-federation/09-check-workload-connectivity
  test/integration/suites/ghostunnel-federation/10-stop-agents
  test/integration/suites/ghostunnel-federation/11-check-workload-connectivity
  test/integration/suites/ghostunnel-federation/12-start-agents
  test/integration/suites/ghostunnel-federation/13-check-workload-connectivity
  test/integration/suites/ghostunnel-federation/14-success
  test/integration/suites/ghostunnel-federation/99-teardown
  test/integration/suites/ghostunnel-federation/Dockerfile
  test/integration/suites/ghostunnel-federation/conf/downstream/agent/agent.conf
  test/integration/suites/ghostunnel-federation/conf/downstream/ghostunnel/ghostunnel.flags
  test/integration/suites/ghostunnel-federation/conf/downstream/server/server.conf
  test/integration/suites/ghostunnel-federation/conf/downstream/supervisord/supervisord.conf
  test/integration/suites/ghostunnel-federation/conf/upstream/agent/agent.conf
  test/integration/suites/ghostunnel-federation/conf/upstream/ghostunnel/ghostunnel.flags
  test/integration/suites/ghostunnel-federation/conf/upstream/server/server.conf
  test/integration/suites/ghostunnel-federation/conf/upstream/supervisord/supervisord.conf
  test/integration/suites/ghostunnel-federation/docker-compose.yaml
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Update CHANGELOG for 0.8.4 release (#1225)
  CHANGELOG.md
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Remove old e2e integration tests
  .travis.yml
  Makefile
  build.sh
  script/e2e_test.sh
  script/rotation_test.sh
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @drrt

GCP Bundle Notifier
  doc/plugin_server_notifier_gcpbundle.md
  go.mod
  go.sum
  pkg/common/telemetry/names.go
  pkg/server/catalog/catalog.go
  pkg/server/plugin/notifier/gcpbundle/gcpbundle.go
  pkg/server/plugin/notifier/gcpbundle/gcpbundle_test.go
  pkg/server/plugin/notifier/k8sbundle/k8sbundle_test.go
  test/fakes/fakeidentityprovider/identityprovider.go
Owners: @jennybeth, @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @ajessup

Remove old e2e integration tests (#1226)
  .travis.yml
  Makefile
  build.sh
  script/e2e_test.sh
  script/rotation_test.sh
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @drrt

Integration test framework cleanup
  test/integration/README.md
  test/integration/common
  test/integration/suites/datastore-mysql/00-setup
  test/integration/suites/datastore-mysql/01-test-variants
  test/integration/suites/datastore-mysql/README.md
  test/integration/suites/datastore-mysql/teardown
  test/integration/suites/datastore-postgres/00-setup
  test/integration/suites/datastore-postgres/01-test-variants
  test/integration/suites/datastore-postgres/README.md
  test/integration/suites/datastore-postgres/teardown
  test/integration/suites/envoy-sds/00-setup
  test/integration/suites/envoy-sds/05-check-workload-connectivity
  test/integration/suites/envoy-sds/README.md
  test/integration/suites/envoy-sds/teardown
  test/integration/suites/join-token/00-setup
  test/integration/suites/join-token/02-bootstrap-agents
  test/integration/suites/join-token/04-create-workload-entry
  test/integration/suites/join-token/06-start-bad-agent
  test/integration/suites/join-token/README.md
  test/integration/suites/join-token/teardown
  test/integration/suites/k8s/00-setup
  test/integration/suites/k8s/01-apply-config
  test/integration/suites/k8s/02-check-for-workload-svid
  test/integration/suites/k8s/README.md
  test/integration/suites/k8s/teardown
  test/integration/suites/rotation/00-setup
  test/integration/suites/rotation/04-create-workload-entry
  test/integration/suites/rotation/05-check-svids
  test/integration/suites/rotation/99-teardown
  test/integration/suites/rotation/README.md
  test/integration/suites/rotation/teardown
  test/integration/suites/upgrade/00-setup
  test/integration/suites/upgrade/02-create-workload-entry
  test/integration/suites/upgrade/05-check-workload-svid
  test/integration/suites/upgrade/07-check-workload-svid
  test/integration/suites/upgrade/99-teardown
  test/integration/suites/upgrade/teardown
  test/integration/test-all.sh
  test/integration/test-one.sh
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Wait longer for database to be available
  test/integration/suites/datastore-mysql/01-test-variants
  test/integration/suites/datastore-postgres/01-test-variants
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Undoing go.mod changes
  go.mod
  tools/external/go.mod
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Wait longer for database to be available (#1229)
  test/integration/suites/datastore-mysql/01-test-variants
  test/integration/suites/datastore-postgres/01-test-variants
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Bump timeout to 30 seconds
  pkg/agent/client/client.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

agent: ignore incomplete reg entries
  pkg/agent/client/client.go
  pkg/agent/client/client_test.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

address PR comments
  test/integration/README.md
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy
