Repository spiffe/spire, changes with the owners that CODEOWNERS names for each.
All owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @drrt, @ajessup, @jennybeth

CODEOWNERS:

* @evan2645 @amartinezfayo @martincapello @azdagron @marcosdy @marcosy

# infrastructure maintenance
/build.sh        @drrt @evan2645 @amartinezfayo @martincapello @azdagron @marcosdy @marcosy
/Dockerfile      @drrt @evan2645 @amartinezfayo @martincapello @azdagron @marcosdy @marcosy
/Makefile        @drrt @evan2645 @amartinezfayo @martincapello @azdagron @marcosdy @marcosy
/README.md       @drrt @evan2645 @amartinezfayo @martincapello @azdagron @marcosdy @marcosy @ajessup
/CONTRIBUTING.md @drrt @evan2645 @amartinezfayo @martincapello @azdagron @marcosdy @marcosy

# documentation
/doc/           @jennybeth @drrt @evan2645 @amartinezfayo @martincapello @azdagron @marcosdy @marcosy @ajessup

Update README.md
  README.md
Owners: @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @ajessup

Update README.md
  README.md
Owners: @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @ajessup

Update READ.me
  README.md
Owners: @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @ajessup

Update README.md
  README.md
Owners: @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @ajessup

Update README.md
  README.md
Owners: @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @ajessup

Update README.md
  README.md
Owners: @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @ajessup

Update README.md and CONTRIBUTING.md (#1197)
  CONTRIBUTING.md
  README.md
  doc/images/spire_logo.png
Owners: @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @ajessup, @jennybeth

Update README.md
  README.md
Owners: @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @ajessup

Update to README.md
  README.md
Owners: @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @ajessup

Update to README.md (#1200)
  README.md
Owners: @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @ajessup

Fix broken link to envoy-proxy docs.
  README.md
Owners: @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @ajessup

Update README.md to fix broken links and add links to tutorial and how to's
  README.md
Owners: @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @ajessup

In response to CVE-2019-17596 https://github.com/golang/go/issues/34960 This PR bumps the 0.8 branch. A new release will be cut as soon as this is merged.
  .go-version
  build.sh
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @drrt

In response to CVE-2019-17596 https://github.com/golang/go/issues/34960
  .go-version
  build.sh
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @drrt

Prepare for 0.8.3 release
  CHANGELOG.md
  pkg/common/version/version.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Add support for getting env var selectors in docker
  pkg/agent/plugin/workloadattestor/docker/docker.go
  pkg/agent/plugin/workloadattestor/docker/docker_test.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

update the docs
  doc/plugin_agent_workloadattestor_docker.md
Owners: @jennybeth, @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @ajessup

Add CODE-OF-CONDUCT.md
  CODE-OF-CONDUCT.md
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

address PR comments
  pkg/server/plugin/datastore/sql/sql.go
  pkg/server/plugin/datastore/sql/sql_test.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Abbreviate git commit hash in version
  pkg/common/version/version.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

no more random map iteraion failures.
  pkg/agent/plugin/workloadattestor/docker/docker_test.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Addressing review comments
  go.mod
  go.sum
  pkg/common/version/version.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

integration: remove unused docker image replacement
  test/integration/suites/envoy-sds/Dockerfile
  test/integration/suites/envoy-sds/docker-compose.yaml
  test/integration/suites/k8s/00-setup
  test/integration/suites/rotation/docker-compose.yaml
  test/integration/test-one.sh
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Simple upgrade integration test
  test/integration/common
  test/integration/suites/upgrade/00-setup
  test/integration/suites/upgrade/01-start-old
  test/integration/suites/upgrade/02-create-workload-entry
  test/integration/suites/upgrade/03-check-workload-svid
  test/integration/suites/upgrade/04-upgrade-server
  test/integration/suites/upgrade/05-check-workload-svid
  test/integration/suites/upgrade/06-upgrade-agent
  test/integration/suites/upgrade/07-check-workload-svid
  test/integration/suites/upgrade/99-teardown
  test/integration/suites/upgrade/README.md
  test/integration/suites/upgrade/conf/agent/agent.conf
  test/integration/suites/upgrade/conf/server/server.conf
  test/integration/suites/upgrade/docker-compose.yaml
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

add check for ambiguous patterns
  pkg/agent/plugin/workloadattestor/docker/cgroup/dockerfinder.go
  pkg/agent/plugin/workloadattestor/docker/cgroup/dockerfinder_test.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

docker: support multiple cgroup patterns
  pkg/agent/plugin/workloadattestor/docker/cgroup/dockerfinder.go
  pkg/agent/plugin/workloadattestor/docker/cgroup/dockerfinder_test.go
  pkg/agent/plugin/workloadattestor/docker/docker.go
  pkg/agent/plugin/workloadattestor/docker/docker_test.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

attempt to clarify doc
  pkg/agent/plugin/workloadattestor/docker/cgroup/dockerfinder.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Ensure the containerIDFinder is given at least 1 pattern
  pkg/agent/plugin/workloadattestor/docker/cgroup/dockerfinder.go
  pkg/agent/plugin/workloadattestor/docker/cgroup/dockerfinder_test.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

support old configurables as well
  pkg/agent/plugin/workloadattestor/docker/docker.go
  pkg/agent/plugin/workloadattestor/docker/docker_test.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

QuoteMeta input segments so they are matched literally
  pkg/agent/plugin/workloadattestor/docker/cgroup/dockerfinder.go
  pkg/agent/plugin/workloadattestor/docker/cgroup/dockerfinder_test.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

use FindStringSubmatch
  pkg/agent/plugin/workloadattestor/docker/cgroup/dockerfinder.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

blah
  cmd/spire-agent/cli/run/run.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Fix bootstrap bundle loading code
  cmd/spire-agent/cli/run/run.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

add a log message for deprecated config options
  pkg/agent/plugin/workloadattestor/docker/docker.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Use default "unk" value when githash is not set
  pkg/common/version/version.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

don't pollute repo with .tmp file
  pkg/agent/manager/manager_test.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Remove stale/unused functional test tools
  Makefile
  build.sh
  functional/Makefile
  functional/README.md
  functional/docker-compose.yml
  functional/runner/Dockerfile
  functional/tools/stresstest/createusers.go
  functional/tools/stresstest/run.go
  functional/tools/stresstest/stresstest.go
  functional/tools/tokengenerator/tokengenerator.go
  functional/tools/workload/main.go
  functional/tools/workload/workload.go
Owners: @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

normalize bundle ids on fetch/delete
  pkg/server/plugin/datastore/sql/sql.go
  pkg/server/plugin/datastore/sql/sql_test.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Datastore integration tests for mysql/postgres
  pkg/server/plugin/datastore/sql/sql_test.go
  test/integration/common
  test/integration/suites/datastore-mysql/00-setup
  test/integration/suites/datastore-mysql/01-test-variants
  test/integration/suites/datastore-mysql/99-teardown
  test/integration/suites/datastore-mysql/docker-compose.yaml
  test/integration/suites/datastore-postgres/00-setup
  test/integration/suites/datastore-postgres/01-test-variants
  test/integration/suites/datastore-postgres/99-teardown
  test/integration/suites/datastore-postgres/docker-compose.yaml
  test/integration/test-one.sh
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

address PR comments
  cmd/spire-agent/cli/run/run.go
  cmd/spire-agent/cli/run/run_test.go
  pkg/agent/attestor/node/node.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy
