Repository spiffe/spire, changes with the owners that CODEOWNERS names for each.
All owners: @evan2645, @walmav, @amartinezfayo, @martincapello, @marcosdy, @drrt

Updated cache manager documentation. (#385)
  doc/images/cache_mgr.png
  doc/images/cache_mgr_components.png
  doc/images/cache_mgr_flow.png
  pkg/agent/manager/cache/cache.md
Owners: @evan2645, @walmav, @amartinezfayo, @martincapello, @marcosdy

First approximation to enable profiling on spire.
  cmd/spire-agent/cli/run/run.go
  cmd/spire-server/cli/run/run.go
  conf/agent/agent.conf
  conf/server/server.conf
  pkg/agent/agent.go
  pkg/agent/config.go
  pkg/server/server.go
Owners: @evan2645, @walmav, @amartinezfayo, @martincapello, @marcosdy

Better name for cleanup method in telemetry package
  pkg/common/telemetry/telemetry.go
Owners: @evan2645, @walmav, @amartinezfayo, @martincapello, @marcosdy

Updates Workload Registration Documentation
  README.md
  doc/SPIRE101.md
Owners: @drrt, @evan2645, @amartinezfayo, @martincapello, @walmav, @marcosdy

Updates Workload Registration Step In Readme
  README.md
Owners: @drrt, @evan2645, @amartinezfayo, @martincapello

Added persistence of profiling data at an specified frequency.
  cmd/spire-agent/cli/run/run.go
  cmd/spire-server/cli/run/run.go
  conf/agent/agent.conf
  conf/server/server.conf
  pkg/agent/agent.go
  pkg/agent/config.go
  pkg/common/profiling/dumpers.go
  pkg/common/profiling/profiling.go
  pkg/server/server.go
Owners: @evan2645, @walmav, @amartinezfayo, @martincapello, @marcosdy

Organized imports.
  pkg/agent/agent.go
Owners: @evan2645, @walmav, @amartinezfayo, @martincapello, @marcosdy

Fixed per code review.
  pkg/agent/agent.go
  pkg/server/server.go
Owners: @evan2645, @walmav, @amartinezfayo, @martincapello, @marcosdy

expose GRPC and and HTTP server through endpoint
  pkg/agent/endpoints/config.go
  pkg/agent/endpoints/endpoints.go
  pkg/server/endpoints/endpoints.go
  pkg/server/server.go
Owners: @evan2645, @walmav, @amartinezfayo, @martincapello, @marcosdy

Remove statsd configurable until we're ready to expose Also rename the workload attestation metrics to be clearer
  pkg/agent/config.go
  pkg/agent/endpoints/workload/handler.go
  pkg/common/telemetry/telemetry.go
Owners: @evan2645, @walmav, @amartinezfayo, @martincapello, @marcosdy

Added ProfilingNames to let the user specify which profiles wants to generate in each profiling tick.
  cmd/spire-agent/cli/run/run.go
  cmd/spire-server/cli/run/run.go
  pkg/agent/agent.go
  pkg/agent/config.go
  pkg/server/server.go
Owners: @evan2645, @walmav, @amartinezfayo, @martincapello, @marcosdy

Changed to remove the config parameter passed to the Dumper interface functions. Fixed to use the configuration's Tag property when saving files.
  pkg/common/profiling/dumpers.go
  pkg/common/profiling/profiling.go
Owners: @evan2645, @walmav, @amartinezfayo, @martincapello, @marcosdy

Changed profiling configuration's types from string to their actual primitive type.
  cmd/spire-agent/cli/run/run.go
  cmd/spire-server/cli/run/run.go
Owners: @evan2645, @walmav, @amartinezfayo, @martincapello, @marcosdy

Added OverrideDumper function to enable overriding dumpers implementations.
  pkg/common/profiling/profiling.go
Owners: @evan2645, @walmav, @amartinezfayo, @martincapello, @marcosdy

Refactored to improve support for dumpers impl overriding.
  pkg/common/profiling/dumpers.go
  pkg/common/profiling/profiling.go
Owners: @evan2645, @walmav, @amartinezfayo, @martincapello, @marcosdy

Add profiling capabilities. (#389)
  cmd/spire-agent/cli/run/run.go
  cmd/spire-server/cli/run/run.go
  pkg/agent/agent.go
  pkg/agent/config.go
  pkg/common/profiling/dumpers.go
  pkg/common/profiling/profiling.go
  pkg/server/server.go
Owners: @evan2645, @walmav, @amartinezfayo, @martincapello, @marcosdy

Add convenience functions to Bundle model for better readability
  pkg/server/plugin/datastore/sqlite/model_utils.go
  pkg/server/plugin/datastore/sqlite/model_utils_test.go
  pkg/server/plugin/datastore/sqlite/sqlite.go
Owners: @evan2645, @walmav, @amartinezfayo, @martincapello, @marcosdy

CODEOWNERS:

* @evan2645 @walmav @amartinezfayo @martincapello @marcosdy

# infrastructure maintenance
build.sh        @drrt @evan2645 @amartinezfayo @martincapello
Dockerfile      @drrt @evan2645 @amartinezfayo @martincapello
Makefile        @drrt @evan2645 @amartinezfayo @martincapello
README.md       @drrt @evan2645 @amartinezfayo @martincapello
CONTRIBUTING.md @drrt @evan2645 @amartinezfayo @martincapello
