Repository spiffe/spire, changes with the owners that CODEOWNERS names for each.
All owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @drrt, @ajessup, @jennybeth

Fix fetch/list entry functions to only return non-expirable and unexpired entries
  pkg/server/plugin/datastore/sql/sql.go
  pkg/server/plugin/datastore/sql/sql_test.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

bring up to the new integration framework changes
  test/integration/suites/ghostunnel-federation/05-check-workload-connectivity
  test/integration/suites/ghostunnel-federation/14-success
  test/integration/suites/ghostunnel-federation/README.md
  test/integration/suites/ghostunnel-federation/conf/downstream/server/server.conf
  test/integration/suites/ghostunnel-federation/conf/upstream/server/server.conf
  test/integration/suites/ghostunnel-federation/teardown
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Improved MySQL ready check for integration test
  test/integration/suites/datastore-mysql/01-test-variants
  test/integration/suites/datastore-postgres/01-test-variants
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Adds missing brace to sample config
  doc/plugin_server_nodeattestor_azure_msi.md
Owners: @jennybeth, @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @ajessup

Bumping go to 1.13.4
  .go-version
  build.sh
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @drrt

rename to gcs_bundle and other PR comments
  doc/plugin_server_notifier_gcp_bundle.md
  doc/plugin_server_notifier_gcpbundle.md
  doc/plugin_server_notifier_k8sbundle.md
  go.sum
  pkg/server/catalog/catalog.go
  pkg/server/plugin/notifier/gcsbundle/gcsbundle.go
  pkg/server/plugin/notifier/gcsbundle/gcsbundle_test.go
  pkg/server/plugin/notifier/k8sbundle/k8sbundle.go
Owners: @jennybeth, @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @ajessup

Add a little more logging
  pkg/server/plugin/notifier/gcsbundle/gcsbundle.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

log all selectors on malformed entry
  pkg/agent/client/client.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Clean up build artifacts
  .gitignore
  Dockerfile.images
  Makefile
  build.sh
  conf/agent/dummy_agent_ssh_key
  conf/agent/dummy_agent_ssh_key-cert.pub
  conf/agent/ha-postgres.conf
  conf/compose/ha-postgres.yml
  conf/server/dummy_ssh_cert_authority.pub
  conf/server/ha-postgres.conf
  conf/server/server-mysql.conf
  conf/server/server-postgres.conf
  conf/server/server-upstream-false.conf
  doc/SPIRE101.md
  release/README.md
  release/conf/agent/agent.conf
  release/conf/server/server.conf
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @drrt, @jennybeth, @ajessup

fix shellcheck on build.sh
  build.sh
Owners: @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

Add documentation describing SPIRE versioning and upgrade procedures
  README.md
  doc/upgrading.md
Owners: @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @ajessup, @jennybeth

add k8s workload attestor polling configuration option to docs
  doc/plugin_agent_workloadattestor_k8s.md
Owners: @jennybeth, @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @ajessup

update to current defaults
  doc/plugin_agent_workloadattestor_k8s.md
Owners: @jennybeth, @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @ajessup

Fix metric keys
  pkg/common/telemetry/metrics.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

allow disabling of in-mem metrics sink
  doc/spire_agent.md
  doc/spire_server.md
  doc/telemetry_config.md
  pkg/common/telemetry/config.go
  pkg/common/telemetry/inmem.go
  pkg/common/telemetry/inmem_test.go
Owners: @jennybeth, @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy, @ajessup

clean up / consolidate new test
  pkg/common/telemetry/inmem_test.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

make Caller ID label non-dynamic
  pkg/common/telemetry/common/label_adders.go
  pkg/common/telemetry/names.go
  pkg/server/endpoints/registration/handler.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

addCallerIDLabel is a one-liner function now; remove and just put functionality directly in callers
  pkg/server/endpoints/registration/handler.go
Owners: @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

modify CONTRIBUTING doc
  CONTRIBUTING.md
Owners: @drrt, @evan2645, @amartinezfayo, @martincapello, @azdagron, @marcosdy, @marcosy

CODEOWNERS:

* @evan2645 @amartinezfayo @martincapello @azdagron @marcosdy @marcosy

# infrastructure maintenance
/build.sh        @drrt @evan2645 @amartinezfayo @martincapello @azdagron @marcosdy @marcosy
/Dockerfile      @drrt @evan2645 @amartinezfayo @martincapello @azdagron @marcosdy @marcosy
/Makefile        @drrt @evan2645 @amartinezfayo @martincapello @azdagron @marcosdy @marcosy
/README.md       @drrt @evan2645 @amartinezfayo @martincapello @azdagron @marcosdy @marcosy @ajessup
/CONTRIBUTING.md @drrt @evan2645 @amartinezfayo @martincapello @azdagron @marcosdy @marcosy

# documentation
/doc/           @jennybeth @drrt @evan2645 @amartinezfayo @martincapello @azdagron @marcosdy @marcosy @ajessup
